
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("..//images/Wallpaper.jpg");
}

/*container*/
.container{
  width: 90%;
  padding: 10px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
 

}

/*header*/
header ul{
  background: purple;
  color: red;
  padding-top: 100px;
  max-height: 100px;
  text-align: center;
}
header a{
  color: black;
  font-size: 56px;
  text-decoration: none;
  text-align: end;
}
header li{
  float: left;
  text-align: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header nav{
  float: center;
  margin-top: 30px;
}
header .current a{
  color: red;
  font-weight: bold;
  float: left;
}
header a:hover{
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}

/* header ul*/
header ul{
  float: left;
  margin: 10px;
  width: 1340px;
  padding: 0px;
  text-align: left;
}
ul{
  text-align: left;
}
.dark{
  padding: 10px;
  float: left;
  background: transparent;
  color: whitesmoke;
  max-height: 900px;
  min-height: 300px;
  margin-bottom: 10px;
}

#banner h1{
  margin-top: 50px;
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: 10px;
  width: 40px;
}

#banner p{
  font-size: 20px;
  color: whitesmoke;
  padding: 20px;
}
/*boxes section*/
aside#sidebar{
  float: center; 
  width: 30%;
  color: whitesmoke;
 
}
aside#side1{
  float: left;
  width: 100%;
  margin-top: 10px;
  background-color: grey;
}
article#main-col{
  float: left;
  width: 65%;
}
#more{
  color: red;
}
/*footer*/
footer{
  padding: 20px;
  margin-top: 10px;
  background-color: purple;
  text-align: center;
}
/*media queries*/
@media(max-height: 768px){
  header #banner,
  header nav,
  header nav li{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  min-width: 600px;
  position: sticky;
  -moz-box-sizing: padding-box;
  padding-top: 20px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.schools{
  color: black;
  padding: 70px;
}
/* Number text (1/3 etc) */
.number text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.cities {

      color: white;
      margin: 20px;
      padding: 50px;
    }
  
    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa:hover {
      opacity: 0.7;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-google {
      background: #dd4b39;
      color: white;
    }

    .fa-linkedin {
      background: #007bb5;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    .fa-pinterest {
      background: #cb2027;
      color: white;
    }

    .fa-snapchat-ghost {
      background: #fffc00;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .fa-skype {
      background: #00aff0;
      color: white;
    }

    .fa-android {
      background: #a4c639;
      color: white;
    }

    .fa-dribbble {
      background: #ea4c89;
      color: white;
    }

    .fa-vimeo {
      background: #45bbff;
      color: white;
    }

    .fa-tumblr {
      background: #2c4762;
      color: white;
    }

    .fa-vine {
      background: #00b489;
      color: white;
    }

    .fa-foursquare {
      background: #45bbff;
      color: white;
    }

    .fa-stumbleupon {
      background: #eb4924;
      color: white;
    }

    .fa-flickr {
      background: #f40083;
      color: white;
    }

    .fa-yahoo {
      background: #430297;
      color: white;
    }

    .fa-soundcloud {
      background: #ff5500;
      color: white;
    }

    .fa-reddit {
      background: #ff5700;
      color: white;
    }

    .fa-rss {
      background: #ff6600;
      color: white;
    }

    .btn {
      background-color: purple;
      border: none;
      color: white;
      padding: 0px 0px;
      font-size: 9px;
      cursor: pointer;
    }

    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
    .container {
  position: relative; 
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
